.transactions {
  width: 300px;
  margin: 0 auto 30px;
  text-align: center;
}

.transactions_head {
  background-color: yellowgreen;
}

th {
  padding: 10px;
}

td {
  padding: 4px;
}

.transactions_body {
  background-color: #eee;
}

.type {
  text-align: left;
  padding-left: 10px;
}
