.item {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  width: 400px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid grey;
  text-align: center;
  box-shadow: 5px 5px 5px -3px #9b9b9b;
}

.online {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: teal;
  margin-right: 10px;
}

.offline {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: tomato;
  margin-right: 10px;
}

.avatar {
  margin-right: 10px;
}

.name {
  font-size: 20px;
  font-weight: 500;
}
