.item {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.online {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: teal;
  margin-right: 10px;
}

.offline {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: tomato;
  margin-right: 10px;
}

.avatar {
  margin-right: 10px;
}
